.content > * {
   margin-bottom: 140px;
   @media (max-width: 575.98px) {
      margin-bottom: 70px;
   }
}
.banner {
   position: relative;
   min-height: 853px;
   @media (max-width: 575.98px) {
      min-height: 675px;
   }
   &__content {
      position: relative;
      z-index: 20;
      padding: 100px 0;
      @media (max-width: 575.98px) {
         padding: 40px 0;
      }
   }

   &__title {
      max-width: 800px;
      margin-bottom: 20px;
      line-height: 135%;
      @media (max-width: 575.98px) {
         margin-bottom: 30px;
      }
   }

   &__check-list {
      margin-bottom: 40px;
      @media (max-width: 575.98px) {
         margin-bottom: 70px;
      }
   }

   &__check-list-item {
      display: flex;
      align-items: center;
      font-size: 26px;
      font-weight: bold;
      @media (max-width: 575.98px) {
         font-size: 14px;
      }
      .icon-check {
         font-size: 35px;
         margin-right: 20px;
         @media (max-width: 575.98px) {
            font-size: 22px;
            margin-right: 5px;
         }
      }
      &:not(:last-child) {
         margin-bottom: 10px;
         @media (max-width: 575.98px) {
            margin-bottom: 5px;
         }
      }
   }

   &__btn {
      @media (max-width: 575.98px) {
         width: 100%;
         justify-content: space-between;
      }
   }

   &__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      &::before {
         content: "";
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 371px;
         background: linear-gradient(1.49deg, #ffffff -7.65%, #ffffff 1.97%, rgba(255, 255, 255, 0) 98.78%);
      }
   }
   &__bg--mobile {
      @media (min-width: 576px) {
         display: none;
      }
      position: absolute;
      top: 0;
      right: 0;
      bottom: -50px;
      left: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.world-map {
   &__content {
   }

   &__title {
      text-align: center;
      margin-bottom: 50px;
      @media (max-width: 575.98px) {
         margin-bottom: 30px;
         text-align: left;
      }
   }

   &__map {
      margin: 0 -50px -12px;
      width: stretch;
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
      @media (max-width: 767.98px) {
         margin: 0 -60px -155px -70px;
      }
   }

   &__nav {
   }

   &__search {
      max-width: 345px;
      margin: 0 auto 35px;
   }

   &__results {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      min-height: 128px;
      @media (max-width: 991.98px) {
         min-height: 202px;
      }
      @media (max-width: 767.98px) {
         min-height: 350px;
      }
      @media (max-width: 575.98px) {
         min-height: 188px;
         column-gap: 7px;
         row-gap: 10px;
      }
   }

   &__item {
      padding: 14px 34px;
      border: 1px solid $mainColor;
      border-radius: 20px;
      background: #f6f7f9;
      font-weight: bold;
      font-size: 18px;
      display: none;
      &:hover {
         background: #8f9bb37a !important;
      }
      &.show {
         display: block;
      }
      &:nth-child(n + 15) {
         display: none !important;
      }
      @media (max-width: 575.98px) {
         padding: 3px 13px;
         font-size: 16px;
         font-weight: 600;
      }
   }

   &__item-overall {
      background: #e4e7ed;
      @media (max-width: 575.98px) {
         font-weight: 700;
      }
   }
}

.form-policy {
   margin-top: 100px;
   position: relative;
   background: $white;
   padding: 58px 85px 40px;
   // overflow: hidden;
   box-shadow: 0px 10px 10px rgba(34, 43, 69, 0.1);
   border-radius: 20px;
   @media (max-width: 1199.98px) {
      padding-left: 40px;
      padding-right: 40px;
   }
   @media (max-width: 991.98px) {
      background: #f7f9fc;
   }
   @media (max-width: 575.98px) {
      padding: 27px 15px 50px;
      margin-left: -15px;
      margin-right: -15px;
      border-radius: unset;
   }
   &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 18px;
      background: $mainColor;
      @media (max-width: 575.98px) {
         height: 5px;
      }
   }
   &__content {
      position: relative;
      z-index: 30;
      padding-bottom: 19px;
   }

   &__step-one {
      display: none;
   }
   &__step-two {
      display: none;
      .form-policy__status {
         margin-right: unset;
         margin-left: auto;

         @media (max-width: 991.98px) {
            margin-left: unset;
         }
      }
      @media (max-width: 991.98px) {
         .form-policy__footer {
            border-top: unset;
            flex-direction: row;
            flex-wrap: wrap;
         }
         .form-policy__status {
            width: stretch;
         }
         .form-policy__btn-next {
            flex: 0 1 50%;
         }
         .form-policy__btn-prev {
            flex: 0 1 50%;
         }
      }
   }
   &__step-three {
      display: none;
      .form-policy__content {
         padding-bottom: 40px;
         @media (max-width: 575.98px) {
            padding-bottom: unset;
         }
      }
      .form-policy__status {
         margin-right: unset;
         margin-left: auto;
         @media (max-width: 991.98px) {
            margin-left: unset;
         }
      }
      @media (max-width: 991.98px) {
         .form-policy__footer {
            border-top: unset;
            flex-direction: row;
            flex-wrap: wrap;
         }
         .form-policy__status {
            width: stretch;
         }
         .form-policy__btn-next {
            flex: 0 1 50%;
         }
         .form-policy__btn-prev {
            flex: 0 1 50%;
         }
      }
   }
   &__step-four {
      display: none;
      .form-policy__content {
         padding-bottom: 25px;
         @media (max-width: 575.98px) {
            padding-bottom: unset;
         }
      }
      @media (max-width: 991.98px) {
         .form-policy__footer {
            border-top: unset;
            flex-direction: row;
            flex-wrap: wrap;
         }
         .form-policy__status {
            width: stretch;
         }
         .form-policy__btn-next {
            flex: 0 1 50%;
         }
         .form-policy__btn-prev {
            flex: 0 1 50%;
         }
      }
   }
   &__step-five {
      // display: none;
      .form-policy__content {
         padding-bottom: 25px;
         @media (max-width: 575.98px) {
            padding-bottom: unset;
         }
      }
      @media (max-width: 991.98px) {
         .form-policy__footer {
            border-top: unset;
            flex-direction: row;
            flex-wrap: wrap;
         }
         .form-policy__status {
            width: stretch;
         }
         .form-policy__btn-next {
            flex: 0 1 50%;
         }
         .form-policy__btn-prev {
            flex: 0 1 50%;
         }
      }
   }

   &__title {
      background: $mainColor;
      color: $white;
      padding: 15px;
      text-align: center;
      margin: 0 -30px;
      display: none;
      margin-bottom: 25px;
      font-weight: bold;
   }
   &__steps {
      display: flex;
      padding-bottom: 124px;
      justify-content: space-evenly;
      align-items: center;
   }

   &__steps-pattern {
      margin: 0 20px;
   }

   &__steps-item {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      flex: none;
      &.active {
         .form-policy__steps-circle {
            background: $mainColor;
         }
         .form-policy__steps-num {
            color: $white;
         }
         .form-policy__steps-text {
            color: $mainColor;
         }
      }
   }

   &__steps-circle {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background: #c4c4c4;
      @extend %itemCenter;
      .icon {
         color: $white;
         font-size: 27px;
      }
   }

   &__steps-num {
      font-family: "Montserrat Alternates";
      font-weight: 800;
      font-size: 38px;
      color: #8b8b8b;
   }

   &__steps-text {
      position: absolute;
      top: calc(100% + 15px);
      font-family: "Montserrat Alternates";
      font-weight: bold;
      width: 164px;
      color: #8b8b8b;
   }

   &__footer {
      position: relative;
      z-index: 20;
      padding-top: 20px;
      border-top: 3px solid $mainColor;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 991.98px) {
         flex-direction: column;
         align-items: stretch;
         row-gap: 40px;
      }
      @media (max-width: 575.98px) {
         border-width: 5px;
         margin-left: -15px;
         margin-right: -15px;
         padding-left: 15px;
         padding-right: 15px;
      }
   }

   &__status {
      margin-right: auto;
      padding: 24px 30px;
      border-radius: 20px;
      background: #f7f9fc;
      color: $gray;
      border: 1px solid $mainColor;
      @media (max-width: 991.98px) {
         order: 2;
         margin-right: unset;
         margin-left: unset;
      }
      @media (max-width: 575.98px) {
         border: unset;
         border-top: 2px solid #c5cee0;
         border-bottom: 2px solid #c5cee0;
         margin-left: -15px !important;
         margin-right: -15px !important;
         border-radius: unset;
         background: unset;
         padding: 18px;
      }
   }

   &__status-item {
      flex-wrap: wrap;
      font-weight: bold;
      font-size: 18px;
      &:not(:last-child) {
         margin-bottom: 10px;
         @media (max-width: 575.98px) {
            margin-bottom: 3px;
         }
      }
      @media (max-width: 991.98px) {
         text-align: center;
      }
      @media (max-width: 575.98px) {
         text-align: center;
         font-size: 16px;
      }
   }

   &__status-bold {
      font-size: 22px;
      width: max-content;
      // margin: 0 10px 0 15px;
      color: $mainColor;
      @media (max-width: 575.98px) {
         font-size: 18px;
      }
   }

   &__accept {
      margin-left: 20px;
      position: relative;
      &.error {
         .input__error {
            display: block;
         }
      }
      .input__error {
         position: absolute;
         max-width: 280px;
         padding-left: 45px;
      }
      @media (max-width: 991.98px) {
         order: 1;
         margin-left: unset;
      }
   }

   &__accept-text {
      font-weight: 600;
      font-size: 18px;
      @media (max-width: 575.98px) {
         font-size: 16px;
         font-weight: 600;
      }
   }

   &__btn-next {
      margin-left: 30px;
      padding: 30px;
      box-shadow: 0px 10px 10px rgba(34, 43, 69, 0.2);
      border-radius: 20px;
      background: $mainColor;
      min-width: 190px;
      font-weight: bold;
      font-size: 26px;
      color: $white;
      @media (max-width: 991.98px) {
         order: 3;
         margin-left: unset;
      }
      @media (max-width: 575.98px) {
         padding: 12px;
         border-radius: 20px;
         font-size: 16px;
         min-width: unset;
      }
   }
   &__bottom-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 34px;
      @media (max-width: 575.98px) {
         margin-top: 15px;
      }
   }
   &__num-of-step {
      font-size: 24px;
      color: $gray;
      font-weight: bold;
      @media (max-width: 575.98px) {
         display: none;
      }
   }
   &__secure {
      position: relative;
      z-index: 20;
      width: max-content;
      margin-left: auto;
      @media (max-width: 575.98px) {
         width: 141px;
         height: 36px;
         object-fit: contain;
         margin: 0 auto;
      }
   }

   &__row {
      display: flex;
      align-items: flex-start;
      margin: 0 -17px;
      row-gap: 26px;
      @media (max-width: 991.98px) {
         flex-wrap: wrap;
      }
      &:not(:last-child) {
         margin-bottom: 60px;
         @media (max-width: 767.98px) {
            margin-bottom: 16px;
         }
      }
   }
   .input__block {
      width: calc(33.333% - 34px);
      @media (max-width: 991.98px) {
         width: calc(50% - 34px);
      }
      @media (max-width: 767.98px) {
         width: calc(100% - 34px);
      }
   }
   &__toggle {
      margin-left: 16px;
   }
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: -10px -16px;
      margin-bottom: 60px;
      .input__block {
         margin: 10px 16px;
      }
   }
   &__customer {
      background: #f7f9fc;
      border: 1px solid $mainColor;
      box-shadow: 0px 10px 10px rgba(34, 43, 69, 0.1);
      text-align: center;
      padding: 14px 44px;
      margin-bottom: 40px;
      font-size: 16px;
      border-radius: 20px;
      @media (max-width: 575.98px) {
         padding: 14px 20px;
         margin-bottom: 30px;
      }
   }

   &__customer-title {
      font-weight: bold;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__customer-descr {
      font-weight: 600;
   }
   &__participants {
      margin-bottom: 70px;
      display: none;
   }
   &__tourist {
      position: relative;
      padding-bottom: 40px;
      border-bottom: 2px solid #8f9bb3;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      &.to-clone {
         display: none;
      }
   }
   &__subtitle {
      text-align: center;
      font-weight: bold;
      margin-bottom: 40px;
   }

   &__close {
      position: absolute;
      top: 0;
      right: 60px;
      font-size: 13px;
      padding: 6px;
   }
   &__tourist-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: -10px;
      .input__block {
         margin: 10px;
         width: calc(25% - 20px);
      }
      .input {
         padding-right: 10px;
      }
   }
   &__btn-add-tourist {
      padding: 14px 42px;
      background: #fafafa;
      border: 2px solid $mainColor;
      border-radius: 20px;
      font-weight: bold;
      width: max-content;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .icon {
         font-size: 25px;
         margin-right: 10px;
      }
   }
   &__btn-prev {
      padding: 30px;
      border-radius: 20px;
      min-width: 190px;
      font-weight: bold;
      font-size: 26px;
      order: -1;
      @media (max-width: 991.98px) {
         order: 3;
         margin-left: unset;
      }
      @media (max-width: 575.98px) {
         padding: 12px;
         border-radius: 20px;
         font-size: 16px;
         min-width: unset;
      }
   }
   &__include {
   }

   &__include-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 45px;
      @media (max-width: 575.98px) {
         margin-bottom: 40px;
      }
   }

   &__include-container {
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
   }

   &__include-wrapper {
      width: stretch;
      max-width: 610px;
      .form-policy__include-item:nth-child(n + 5) {
         display: none;
      }
      &.open {
         .form-policy__include-item:nth-child(n + 5) {
            display: block;
         }
         .form-policy__include-btn-more {
            display: none;
         }
      }
      @media (max-width: 991.98px) {
         max-width: unset;
         margin-left: -15px;
         margin-right: -15px;
      }
   }

   &__include-item {
      width: stretch;
      position: relative;
      border-top: 1px solid #c5cee0;
      border-bottom: 1px solid #c5cee0;
      display: flex;
      flex-direction: column;
      padding: 20px 0 10px;
      &.active {
         @media (max-width: 575.98px) {
            background: #f7f9fc;
         }
      }
      .checkbox-style--contour {
         margin-right: unset;
      }
      @media (max-width: 991.98px) {
         padding: 20px 15px;
         position: relative;
      }
      @media (max-width: 575.98px) {
         background: $white;
      }
   }
   &__include-item-title--mobile {
      font-size: 16px;
      font-weight: bold;
      padding-right: 50px;
      margin-bottom: 10px;
      @media (min-width: 576px) {
         display: none;
      }
   }
   &__include-item-title-row {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 7px;
      @media (max-width: 575.98px) {
         order: 3;
         column-gap: 12px;
      }
   }
   &__include-item-title {
      font-weight: bold;
      font-size: 18px;
      @media (max-width: 575.98px) {
         display: none;
      }
   }
   &__include-descr {
      z-index: 10;
      padding-left: 52px;
      font-size: 16px;
      @media (max-width: 575.98px) {
         margin-bottom: 10px;
         padding-left: unset;
         font-size: 14px;
      }
   }

   &__include-row {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 10;
      margin-top: auto;
   }

   &__include-price {
      font-weight: bold;
      flex: none;
      @media (max-width: 575.98px) {
         font-size: 16px;
         .braket {
            display: none;
         }
      }
   }

   &__include-info {
      position: relative;
      display: flex;
      align-items: center;
      &.open {
         .form-policy__include-info-body {
            display: block;
         }
      }
      @media (max-width: 575.98px) {
         position: absolute;
         top: 20px;
         right: 30px;
      }
   }

   &__include-info-head {
      cursor: pointer;
      font-size: 18px;
   }

   &__include-info-body {
      padding: 20px;
      max-width: 530px;
      width: max-content;
      background: $white;
      border-radius: 20px;
      border: 1px solid $mainColor;
      position: absolute;
      left: 100%;
      bottom: 100%;
      display: none;
      z-index: 30;
      @media (max-width: 1199.98px) {
         max-width: 350px;
      }
      @media (max-width: 991.98px) {
         left: unset;
         right: 0;
      }
      @media (max-width: 575.98px) {
         width: 90vw;
         max-width: 400px;
         right: -20px;
         bottom: 120%;
      }
   }

   &__include-info-close {
      position: absolute;
      top: 25px;
      right: 30px;
      font-size: 13px;
   }

   &__include-info-title {
      margin-bottom: 10px;
      font-weight: bold;
   }

   &__include-info-text {
      font-size: 16px;
   }
   &__include-btn-more {
      width: max-content;
      margin: 50px auto 0;
      @media (max-width: 575.98px) {
         margin-top: 30px;
      }
   }

   &__include-details {
      align-self: flex-start;
      padding: 30px 20px;
      max-width: 313px;
      border: 1px solid $mainColor;
      border-radius: 20px;
      @media (max-width: 991.98px) {
         display: none;
      }
   }

   &__include-details-title {
      font-weight: bold;
      margin-bottom: 20px;
   }

   &__include-details-list {
      margin-bottom: 20px;
   }

   &__include-details-item {
      padding-left: 44px;
      font-size: 16px;
      position: relative;
      &:not(:last-child) {
         margin-bottom: 12px;
      }
      &::before {
         content: "";
         position: absolute;
         top: 8px;
         left: 8px;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         background: $mainColor;
      }
   }

   &__info-block {
      margin-bottom: 30px;
   }

   &__info-title {
      font-weight: bold;
      margin-bottom: 20px;
      @media (max-width: 767.98px) {
         margin-bottom: 15px;
      }
   }

   &__info-wrap {
      display: flex;
      @media (max-width: 767.98px) {
         flex-direction: column;
         row-gap: 10px;
      }
   }

   &__info-col {
      flex: 1 1 50%;
   }

   &__info-row {
      display: flex;
      column-gap: 20px;
      &:not(:last-child) {
         margin-bottom: 12px;
         @media (max-width: 767.98px) {
            margin-bottom: 10px;
         }
      }
   }

   &__info-term {
      font-weight: 600;
      min-width: 147px;
      @media (max-width: 767.98px) {
         min-width: unset;
         width: 50%;
         padding-right: 20px;
         font-size: 16px;
      }
   }

   &__info-descr {
      & li:not(:last-child) {
         margin-bottom: 10px;
      }
      @media (max-width: 767.98px) {
         width: 50%;
         font-size: 16px;
         span {
            display: block;
         }
      }
   }

   &__info-customer {
      width: 56%;
      .form-policy__info-wrap {
         display: flex;
      }
      .form-policy__info-col:not(:last-child) {
         margin-right: 26px;
      }
   }
   &__final-info-title {
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
   }

   &__final-info-table {
      width: 100%;
      @media (max-width: 767.98px) {
         display: none;
      }
   }
   &__final-info-row {
      display: flex;
      align-items: center;
      padding: 9px 0;
      &:not(:first-child):nth-child(odd) {
         background: linear-gradient(
            270deg,
            rgba(228, 232, 242, 0) 0%,
            rgba(228, 232, 242, 0.6) 47.4%,
            rgba(228, 232, 242, 0) 100%
         );
      }
   }
   &__final-info-head {
      padding: 0;
      margin-bottom: 10px;
      border-bottom: unset !important;
      font-weight: 600;
   }
   &__final-info-item {
   }
   &__final-info-item-num {
      width: 17%;
   }
   &__final-info-item-name {
      padding: 0 10px;
      width: 40%;
      @media (max-width: 991.98px) {
         width: 30%;
      }
   }
   &__final-info-item-passport {
      width: 24%;
   }
   &__final-info-item-date {
      width: 19%;
      @media (max-width: 991.98px) {
         width: 29%;
      }
   }
   &__final-info-table--mobile {
      @media (min-width: 768px) {
         display: none;
      }
   }
   &__final-info-block {
      padding: 20px 0;

      &:not(:last-child) {
         border-bottom: 2px solid #8f9bb3;
      }
   }

   &__final-info-col-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }

   &__final-info-term {
      width: 50%;
      padding-right: 20px;
      font-size: 16px;
      font-weight: 600;
   }

   &__final-info-descr {
      width: 50%;
      font-size: 16px;
   }
   &__toggle {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
      @media (max-width: 991.98px) {
         flex-direction: column;
         align-items: center;
         margin-bottom: 30px;
      }
   }
   &__toggle-item-body {
      display: none;

      &.active {
         display: block;
      }
   }
   &__toggle-item {
      padding: 15px;
      background: rgba(143, 155, 179, 0.12);
      border: 1px solid $mainColor;
      border-radius: 20px;
      font-size: 26px;
      font-weight: bold;
      min-width: 235px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 575.98px) {
         padding: 10px;
         font-size: 20px;
         background: $white;
      }
      svg {
         margin-right: 13px;
         margin-top: 2px;
      }
      img {
         width: 69px;
         height: 28px;
      }
      &:not(:last-child) {
         margin-right: 40px;
         @media (max-width: 991.98px) {
            margin-right: unset;
            margin-bottom: 8px;
         }
      }

      &.active {
         background: $mainColor;
         color: $white;
      }
   }
}

.form-card {
   display: flex;
   // height: 228px;
   height: 260px;
   overflow: hidden;
   width: 100%;
   max-width: 580px;
   margin: 0 auto;
   &__front {
      width: 76%;
      height: 100%;
      position: relative;
      z-index: 20;
      padding: 43px 33px 25px 22px;
      filter: drop-shadow(7px 10px 10px rgba(91, 89, 89, 0.25));
      border-radius: 20px;
      @media (max-width: 767.98px) {
         padding-left: 12px;
         padding-right: 12px;
      }
   }
   &__bg-front {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      img {
         width: 100%;
         height: 100%;
         object-fit: fill;
      }
   }
   &__bg-back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
   }
   &__inputs {
      position: relative;
      z-index: 10;
      margin-bottom: 20px;
   }

   &__cards {
      display: flex;
      justify-content: flex-end;
      column-gap: 20px;
      position: relative;
      z-index: 10;
   }

   &__visa {
   }

   &__maestro {
   }

   &__back {
      position: relative;
      padding: 20px;
      width: calc(24% + 50px);
      margin-left: -50px;
      padding-left: 70px;
      height: 100%;
      border-radius: 30px;
      @media (max-width: 767.98px) {
         padding-left: 62px;
         padding-right: 12px;
      }
   }
   .input {
      @media (max-width: 767.98px) {
         padding-left: 12px;
         padding-right: 12px;
      }
   }
   &__line {
      height: 30px;
      margin-right: -20px;
      margin-left: -50px;
      // width: 100%;
      background: #d5e0fd;
      margin-bottom: 12px;
   }
}

.input {
   padding: 12px 40px 12px 21px;
   width: 100%;
   border: 2px solid $mainColor;
   border-radius: 20px;
   font-size: 16px;
   &::placeholder {
      color: #74798a;
   }
   &__block {
      margin: 0 17px;
      &.error {
         .input {
            border-color: $red;
         }
         .input__box {
            .icon {
               // color: $red;
            }
         }
         .input__error {
            display: block;
         }
      }
   }
   &__box {
      position: relative;
      border-radius: 20px;
      display: block;
      .icon {
         position: absolute;
         transform: translateY(-50%);
         top: 50%;
         right: 10px;
         font-size: 24px;
      }
      .icon-calendar {
         font-size: 24px;
         cursor: pointer;
         pointer-events: none;
      }
      .icon-check {
         display: none;
         font-size: 21px;
         color: #338700;
      }
      .icon-close {
         display: none;
         font-size: 26px;
         color: #f00000;
      }
   }

   &__title {
      cursor: default;
      font-weight: 600;
      margin-bottom: 3px;
      padding-left: 20px;
      font-size: 14px;
   }
   &__select {
      position: relative;
      width: 100%;
      &.open {
         .icon-triangle-down {
            transform: translateY(-50%) rotate(180deg);
         }
         .input__select-body {
            display: block;
         }
         .input {
            border-radius: 20px 20px 0 0;
         }
      }
   }
   &__select-body {
      overflow: hidden;
      display: none;
      position: absolute;
      border: 2px solid $mainColor;
      z-index: 90;
      left: 0;
      top: calc(100% - 2px);
      // width: calc(100% + 4px);
      width: 100%;
      background: #ffffff;
      border-radius: 0 0 20px 20px;
   }

   &__select-item {
      font-size: 16px;
      padding: 8px 12px;
      &:hover {
         background: #e4e7ed;
      }
   }

   &__check-block {
      display: flex;
      align-items: center;
      margin-top: 7px;
      .checkbox-style {
         width: 20px;
         height: 20px;
         background: rgba(143, 155, 179, 0.08);
         border: 1px solid rgba(143, 155, 179, 0.48);
         border-radius: 3px;
         margin-right: 10px;
         position: relative;
         .icon-check-small {
            font-size: 8px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            color: $white;
            display: none;
         }
      }
      .checkbox-none:checked + .checkbox-style {
         background: #2e3a59;
         border-color: #2e3a59;
         .icon-check-small {
            display: block;
         }
      }
      .checkbox-none:checked:disabled + .checkbox-style {
         background: rgba(46, 58, 89, 0.2);
         border-color: rgba(46, 58, 89, 0.2);
         .icon-check-small {
            display: block;
         }
      }
   }

   &__check-block-text {
      font-size: 16px;
   }

   &__error {
      display: none;
      color: $red;
      padding-left: 20px;
      font-size: 14px;
   }

   &__more-details {
      margin-top: 7px;
      padding-left: 16px;
      text-decoration-line: underline;
      color: $blue;
      font-size: 16px;
      &:hover {
         text-decoration-line: unset;
      }
   }

   &__block--promocode {
      .input__box {
         display: none;
         margin-top: 12px;
         .icon-close {
            display: none;
            font-size: 24px;
            color: #f00000;
         }
      }
      &.error {
         .icon-close {
            display: block;
         }
      }
   }
}
.check-block {
   display: flex;
   align-items: center;
   &__text {
      font-weight: bold;
   }
}

.tariff {
   display: flex;
   justify-content: center;
   margin-bottom: 60px;
   @media (max-width: 991.98px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
   }
   &__item {
      padding: 15px;
      background: rgba(143, 155, 179, 0.12);
      border: 1px solid $mainColor;
      border-radius: 20px;
      font-size: 26px;
      font-weight: bold;
      min-width: 235px;
      @media (max-width: 575.98px) {
         padding: 10px;
         font-size: 20px;
         background: $white;
      }
      &:not(:last-child) {
         margin-right: 40px;
         @media (max-width: 991.98px) {
            margin-right: unset;
            margin-bottom: 8px;
         }
      }

      &.active {
         background: $mainColor;
         color: $white;
      }
   }
}







.case {
   .banner {
      margin-bottom: 253px;
      @media (max-width: 991.98px) {
         margin-bottom: 70px;
      }
   }
   &__content {
      position: relative;
      z-index: 20;
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &-item {
      border: 1px solid #8F9BB3;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.9);
      padding: 26px 26px 45px 26px;
      width: calc(100% / 2 - 13px);
      position: relative;
      @media (max-width: 991.98px) {
         padding: 20px 17px 30px 16px;
         width: 100%;
         margin-bottom: 30px;
      }
   }
   &__title {
      margin-top: 35px;
      margin-bottom: 30px;
      text-transform: uppercase;
      @media (max-width: 991.98px) {
         margin-top: 20px;
         margin-bottom: 19px;
         text-transform: unset;
         font-size: calc(18px + (30 - 18) * ((100vw - 375px) / (991 - 375)));
         font-weight: 800;
      }
   }
   &-item__img {
      position: absolute;
      top: 37px;
      right: 24px;
      @media (max-width: 991.98px) {
         top: 20px;
         right: 16px;
         height: 36px;
         width: 48px;
         img {
            width: 100%;
            height: 100%;
         }
      }
   }
   &-item__title {
      text-align: center;
      margin-bottom: 5px;
      line-height: 40px;
      @media (max-width: 991.98px) {
         margin-bottom: 6px;
         font-size: calc(18px + (30 - 18) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &-item__subtitle {
      margin-bottom: 30px;
      text-align: center;
      font-weight: 700;
      line-height: 24px;
      font-size: 17px;
      @media (max-width: 991.98px) {
         margin-bottom: 25px;
         font-size: calc(17px + (18 - 17) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &-item__description {
      &:not(:last-child) {
         margin-bottom: 52px;
         @media (max-width: 991.98px) {
            margin-bottom: 30px;
         }
      }
      &:last-child {
         margin-bottom: 60px;
      }
   }
   &-item__subname {
      margin-bottom: 15px;
      font-weight: 700;
      @media (max-width: 991.98px) {
         margin-bottom: 12px;
      }
   }
   &-item__point {
      display: flex;
   }
   &-item__point:not(:last-child) {
      margin-bottom: 12px;
      @media (max-width: 575.98px) {
         margin-bottom: 8px;
      }
   }
   &-item__check {
      width: 22px;
      height: 22px;
      img {
         width: 100%;
         height: 100%;
      }
   }
   &-item__name {
      margin-left: 30px;
      position: relative;
      &::before {
         position: absolute;
         left: -30px;
      }
   }
   &-item__subname,
   &-item__name {
      font-size: 16px;
      line-height: 21px;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(19px + (21 - 19) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &-social {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 11px;
      grid-column-gap: 15px;
      margin-bottom: 15px;
      @media (max-width: 991.98px) {
         display: none;
      }
   }
   &-social__item {
      display: flex;
      padding: 9px 0px 9px 10px;
      align-items:center;
      background: rgba(228, 232, 242, 0.4);
      border-radius: 10px;
      box-sizing: border-box;
      border: 1px solid transparent;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
         border: 1px solid #2E3A59;
         box-shadow: 0px 10px 10px rgba(143, 155, 179, 0.2);
      }
   }
   &-social__label {
      
   }
   &-social__name {
      font-size: 14px;
      line-height: 19px;
      font-weight: 600;
      margin-left: 10px;
      position: relative;
   }
   &-contact {
      display: flex;
      justify-content: space-between;
   }
   &-contact__body {
      width: calc(100%/2 - 15px);
      @media (max-width: 991.98px) {
         width: calc(100%/2 - 10px);
      }
   }
   &-contact__title {
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 15px;
      font-weight: 700;
      @media (max-width: 991.98px) {
         margin-bottom: 10px;
         font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &-contact__item {
      margin-bottom: 5px;
   }
   &-contact__link {
      font-size: 16px;
      line-height: 22px;
      display: flex;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &-contact__phone {
      margin-right: 12px;
      @media (max-width: 991.98px) {
         margin-right: 10px;
      }
   }


}
.check-bg::before {
   content: url("../images/check-bg.svg");
}
.check-nonbg::before {
   content: url("../images/check.svg");
}



.cooperation {
   .banner {
      @media (max-width: 991.98px) {
         margin-bottom: calc(43px + (140 - 43) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &__content {
      position: relative;
      z-index: 20;
   }
   &__title {
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #222B45;
      line-height: 40px;
      margin-top: 35px;
      @media (max-width: 991.98px) {
         font-size: calc(24px + (30 - 24) * ((100vw - 375px) / (991 - 375)));
      }
      @media (max-width: 767.98px) {
         margin: 20px 0px 10px;
         line-height: 32px;
         font-weight: bold;
         text-transform: unset;
      }

   }
   &__subtitle {
      font-weight: 600;
      font-size: 20px;
      line-height: 135%;
      color: #222B45;
      margin-bottom: 77px;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (991 - 375)));
      }
      @media (max-width: 767.98px) {
        margin-bottom: 89px;
        line-height: 18px;
      }
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
      @media (max-width: 767.98px) {
         margin: -10px;
      }
   }

   &__btn {
      display: none;
      z-index: 22;
      background: #FFFFFF;
      border-radius: 20px;
      width: 308px;
      padding: 15px 0px;
      max-height: 54px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      margin-bottom: 12px;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
      }
      @media (max-width: 575.98px) {
         width: 256px;
         padding: 10px 0px;
      }
   }
   &__text-second {
      display: none;
      text-align: center;
      position: absolute;
      top: 0;
      z-index: 22;
      font-size: 24px;
      line-height: 32px;
      font-weight: 800;
      color: #fff;
      right: 0;
      left: 0;
      top: 12px;
      @media (max-width: 991.98px) {
         font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (991 - 375)));
      }
      @media (max-width: 575.98px) {
         line-height: 22px;
         font-weight: 700;
      }
   }
   &__item-background {
      display: none;
      background: rgba(34, 43, 69, 0.7);
      transition: 0.3s;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 21;
      border-radius: 20px
   }
   &__info {
      background: rgba(255, 255, 255, 0.7);
      height: 88px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 17px;
      border-radius: 0px 0px 20px 20px;
   }
   &__text {
      font-size: 24px;
      line-height: 32px;
      font-weight: 800;
      text-align: center;
      @media (max-width: 991.98px) {
         font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (991 - 375)));
      }
      @media (max-width: 575.98px) {
         font-size: 16px;
         line-height: 22px;
         font-weight: 700;
      }
   }
   &__item {
      margin: 15px 15px;
      width: calc(100% / 3 - 30px);
      border: 2px solid #8F9BB3;
      border-radius: 20px;
      padding-top: 262px;
      position: relative;
      @media (max-width: 991.98px) {
         width: calc(100% / 2 - 30px);
      }
      @media (max-width: 767.98px) {
         margin: 10px;
         width: calc(100% / 2 - 20px);
      }
      @media (max-width: 575.98px) {
         width: 100%;
      }
      &:hover {
         .cooperation__btn {
            display: block;
         }
         .cooperation__text-second {
            display: block;
         }
         .cooperation__item-background{
            display: block;
         }
         .cooperation__text {
            display: none;
         }
         .cooperation__info {
            background: none;
         }
      }
      &:nth-child(1) {
         width: 100%;
         margin-bottom: 20px;
         padding-top: 337px;
         background: url("../images/cooperation-1.png") center/cover no-repeat;
         .cooperation__info {
            height: 72px;
         }
         .cooperation__text-second {
            top: 38px;
         }
         @media (max-width: 767.98px) {
            margin-bottom: 10px;
         }
      }
      &:nth-child(2) {
         background: url("../images/cooperation-2.png") center/cover no-repeat;
      }
      &:nth-child(3) {
         background: url("../images/cooperation-3.png") center/cover no-repeat;
      }
      &:nth-child(4) {
         background: url("../images/cooperation-4.png") center/cover no-repeat;
      }
      &:nth-child(5) {
         background: url("../images/cooperation-5.png") center/cover no-repeat;
      }
      &:nth-child(6) {
         background: url("../images/cooperation-6.png") center/cover no-repeat;
      }
      &:nth-child(7) {
         background: url("../images/cooperation-7.png") center/cover no-repeat;
      }
   }
}

.matrix {
   position: relative;
   margin-bottom: 258px;
   .container {

   }
   &__content {

   }
   &__title {
      text-align: center;
      max-width: 333px;
      margin: 0 auto;
      @media (max-width: 991.98px) {
         display: none;
      }
   }
   &__body {   
      display: flex;
      justify-content: space-between;
      
      @media (max-width: 991.98px) {
         display: block;
      }
   }
   &__text {

   }
   &__name {
      margin-bottom: 40px;
      max-width: 497px;
      @media (max-width: 991.98px) {
         margin-bottom: 20px;
      }
   }
   &__description {
      &:not(:last-child) {
         margin-bottom: 10px;
      }

      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      max-width: 566px;

      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
         max-width: unset;
         &:last-child {
            margin-bottom: 20px;
         }
      }
      

   }
   &__form {
      @media (max-width: 991.98px) {
        margin: 0 auto;
        width: max-content;
      }
      
      @media (max-width: 575.98px) {
         width: 100%;
      }
   }
   &__form-item {
      display: block;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #222B45;
      box-sizing: border-box;
      border-radius: 20px;
      padding-left: 13px;
      height: 48px;
      width: 313px;
      &:not(:last-child) {
         margin-bottom: 22px;
      }
      
      @media (max-width: 991.98px) {
         margin-bottom: calc(20px + (26 - 20) * ((100vw - 375px) / (991 - 375)));
      }
      
      @media (max-width: 575.98px) {
         width: 100%;
      }
   }
   &__bg {
      position: absolute;
      bottom: -165px;
      left: 164px;
      
      @media (max-width: 991.98px) {
         left: 0;
         right: 0;
         bottom: unset;
      }
      
      @media (max-width: 575.98px) {
         bottom: -250px;
      }
   }
   textarea.matrix__form-item {
      height: 130px;
      padding-top: 12px;
      margin-bottom: 60px;
      @media (max-width: 575.98px) {
         margin-bottom: 47px;
      }
   }
   .btn-red {
      padding-left: 26px;
      font-size: 18px;
      .icon {
         font-size: 40px;
         margin-left: 43px;
         width: 54px;
         height: 53px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: #fff;
         color: #db3731;
         border-radius: 50%;
      }
      @media (max-width: 575.98px) {
         margin: 0 auto;
      }
   }
}

.company {
   z-index: 20;
   position: relative;
   &__title {
      margin-bottom: 30px;
      text-transform: uppercase;
      @media (max-width: 991.98px) {
         text-transform: unset;
         font-weight: 800;
      }
   }
   &__description {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 20px;
      span {
         font-size: 20px;
         line-height: 27px;
         font-weight: 600;
         text-transform: uppercase;
      }

      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(19px + (24 - 19) * ((100vw - 375px) / (991 - 375)));
         margin-bottom: 10px;
         span {
            font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (991 - 375)));
            line-height: calc(19px + (27 - 19) * ((100vw - 375px) / (991 - 375)));
         }
      }
      


   }
   &__name {
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (20 - 14) * ((100vw - 375px) / (991 - 375)));
         margin-bottom: 10px;
      }
   }
   &__nav {
      margin-bottom: 117px;
      @media (max-width: 991.98px) {
         margin-bottom: 40px;
      }
   }
   &__item {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      margin-left: 24px;
      position: relative;
      &:not(:last-child) {
         margin-bottom: 5px;
      }
      &::before {
         content: '';
         position: absolute;
         width: 8px;
         height: 8px;
         border-radius: 50%;
         left: -20px;
         background: #006FD6;
         top: 10px;
         @media (max-width: 991.98px) {
            width: 6px;
            height: 6px;
            top: 6px;
         }
      }

      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(19px + (24 - 19) * ((100vw - 375px) / (991 - 375)));
      }



   }
   
   .possibly__title {
      margin-bottom: 40px;

      @media (max-width: 991.98px) {
         font-size: calc(16px + (24 - 16) * ((100vw - 375px) / (991 - 375)));
         margin-bottom: 15px;
      }
         
   }
}



.management {
   position: relative;
   z-index: 20;
   &__content {

   }
   &__title {
      margin-bottom: 56px;
      
      @media (max-width: 991.98px) {
         margin-bottom: calc(38px + (56 - 38) * ((100vw - 375px) / (991 - 375)));
         font-size: calc(24px + (30 - 24) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (max-width: 767.98px) {
         margin: 0 auto;
      }
   }
   &__item {
      width: calc(100% / 3 - 30px);
      @media (max-width: 767.98px) {
         width: calc(100% / 2 - 20px);
         margin-bottom: 40px;
      }
      
      @media (max-width: 575.98px) {
         width: 100%;
      }
   }
   &__photo {
      box-sizing: border-box;
      border: 2px solid #8F9BB3;
      border-radius: 20px;
      width: 366px;
      height: 350px;
      margin-bottom: 22px;
      @media (max-width: 1240px) {
         width: unset;
         height: unset;
      }
      @media (max-width: 991.98px) {
         border: unset;
      }
      @media (max-width: 575.98px) {
         width: 100%;
         height: 197px;
         border-radius: 20px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
         }
      }
   }
   &__name {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 10px;
      @media (max-width: 991.98px) {
         font-weight: 600;
         margin-bottom: calc(5px + (10 - 5) * ((100vw - 375px) / (991 - 375)));
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &__subname {
      font-size: 18px;
      line-height: 25px;
      font-weight: 600;
      @media (max-width: 991.98px) {
         font-weight: 400;
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
      }
   }
}


.partners {
   .content > * {
      margin-bottom: unset;
   }
   .content > .partners__body {
      margin-bottom: 140px;
      @media (max-width: 575.98px) {
         margin-bottom: 194px;
      }
   }
   .banner {
      min-height: unset;
      margin-bottom: unset;
   }
   &__top { 
      padding: 50px 0px;
      background: #222B45;
      @media (max-width: 1024px) {
         padding: 30px 0px 20px;
      }
   }
   &__top .container {
      display: flex;
      align-items: center;
      @media (max-width: 1024px) {
         display: block;
      }
   }
   &__container-logo {
      margin-right: 71px;
      @media (max-width: 1024px) {
         margin-right: unset;
         width: max-content;
         margin: 0 auto;
         margin-bottom: 20px;
      }
      @media (max-width: 991.98px) {
         width: calc(109px + (228 - 109) * ((100vw - 375px) / (991 - 375)));
         height: calc(45px + (90 - 45) * ((100vw - 375px) / (991 - 375)));
      }
      
   }
   &__container-info {
      max-width: 781px;
      font-weight: bold;
      font-size: 16px;
      line-height: 135%;
      color: $white;
      @media (max-width: 1024px) {
         max-width: unset;
      }
      @media (max-width: 991.98px) {
         font-size: calc(12px + (16 - 12) * ((100vw - 375px) / (991 - 375)));
         font-weight: 600;
         line-height: 16px;
      }
   }
   &__bottom {
      padding: 50px 0px 20px;
      @media (max-width: 1024px) {
        padding-top: 20px;
      }
   }
   &__title {
      margin-bottom: 20px;
      @media (max-width: 991.98px) {
         font-size: calc(20px + (30 - 20) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &__description {
      font-weight: normal;
      font-size: 18px;
      line-height: 135%;
      color: #222B45;
      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(18px + (24 - 19) * ((100vw - 375px) / (991 - 375)));
      }
   }
   &__body {
      padding-top: 40px;
      border-top: 1px solid #8F9BB3;
      margin: 20px 0px 140px;
      @media (max-width: 1024px) {
         border-top: unset;
         padding-top: unset;
         margin-top: unset;
      }
   }
   &__line {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #C5CEE0;
      box-sizing: border-box;
      height: 132px;
      padding-top: 20px;
      padding-bottom: 10px;
      align-items: center;
      &:first-child {
         border-top: 1px solid #C5CEE0;
      }
      @media (max-width: 1024px) {
         display: block;
         height: unset;
         padding-top: 40px;
         padding-bottom: 20px;
      }
   }
   &__logo {
      align-items: center;
      display: flex;
      width: 390px;
      border-right: 1px solid #C5CEE0;
      height: 100%;
      margin: 0 auto;
      justify-content: center;
      @media (max-width: 1024px) {
         border-right: unset;
         position: relative;
         padding-bottom: 40px;
         max-width: 235px;
         &:after {
            position: absolute;
            content: '';
            width: 113px;
            height: 1px;
            background: #C5CEE0;
            margin: 20px 0px;
            bottom: 0;
         }
      }
   }
   &__info {
      max-width: 582px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      span {
         font-weight: 600;
      }
      @media (max-width: 991.98px) {
         font-size: calc(14px + (18 - 14) * ((100vw - 375px) / (991 - 375)));
         span {
            font-weight: 700;
         }
      }
      @media (max-width: 767.98px) {
         max-width: unset;
      }
   }
}

.page-404 {
   .header {
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
   }
   &__content {
      position: relative;
      z-index: 20;
   }
   &__img {
      width: max-content;
      margin: 0 auto;
      margin-top: -120px;
      @media (max-width: 991.98px) {
         margin-top: -62px;
         width: 329px;
         height: 280px;
      }
   }
   &__title {
      text-align: center;
      color: $white;
      max-width: 944px;
      margin: 0 auto;
      margin-bottom: 20px;
      @media (max-width: 991.98px) {
         font-size: calc(20px + (35 - 20) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(27px + (47 - 27) * ((100vw - 375px) / (991 - 375)));

      }
   }
   &__description {
      text-align: center;
      color: $white;
      max-width: 944px;
      margin: 0 auto;
      margin-bottom: 40px;
      
      @media (max-width: 991.98px) {
         font-size: calc(14px + (16 - 14) * ((100vw - 375px) / (991 - 375)));
         line-height: calc(19px + (35 - 19) * ((100vw - 375px) / (991 - 375)));

      }
   }
   .btn-red {
      padding: 4px 26px 4px 5px;
      margin: 0 auto;
      .icon-arrow-right {
         margin-left: unset;
         margin-right: 28px;
         rotate: 180deg;
      }
      @media (max-width: 991.98px) {
         padding: 2px 39px 2px 2px;
         .icon-arrow-right {
            font-size: 20px;
            margin-right: 10px;
         }
      }
   }
}

.blurb {
   &__content {
      display: flex;
      align-items: center;
      margin: 0 auto;
      width: max-content;
      top: 50%;
      transform: translate(0, -50%);
      position: relative;
      @media (max-width: 767.98px) {
         margin-left: 75px;
      }
   }
   &__nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 30px;
      grid-column-gap: 50px;
      @media (max-width: 1220px) {
         grid-template-columns: 1fr 1fr;
         justify-content: center;
      }
      @media (max-width: 991.98px) {
         grid-row-gap: 10px;
         grid-column-gap: 10px;
      }
      @media (max-width: 767.98px) {
        grid-template-columns: 1fr;
      }
   }
   &__item {
      @media (max-width: 1220px) {
         width: max-content;
         margin: 0 auto;
      }
   }
   &__text {
      max-width: 205px;
      color: #222B45;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      @media (max-width: 991.98px) {
         font-size: calc(16px + (18 - 16) * ((100vw - 375px) / (991 - 375)));
         
      }
   }
   &__content svg {
      margin-right: 20px;
      @media (max-width: 991.98px) {
        max-width: 40px;
        margin-right: 10px;
      }
   }
   &__content svg path {
      fill: #222B45;
   }
   &__link {
      background: #FFFFFF;
      border: 3px solid #8F9BB3;
      box-sizing: border-box;
      box-shadow: 0px 10px 10px rgba(106, 103, 103, 0.1);
      border-radius: 20px;
      height: 98px;
      width: 359px;
      display: block;
      transition: 0.3s;
      &:hover {
         background: #2E3A59;
         border: 3px solid #222B45;
         box-shadow: 0px 10px 10px rgba(106, 103, 103, 0.1);
         .blurb__text {
            color: $white;
         }
         svg path {
            fill: $white;
         }
      }
      
      @media (max-width: 991.98px) {
         width: 342px;
         height: 64px;
      }
   }
}