// popup
.popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100%;
   height: 100vh;
   overflow-y: auto;
   &__body {
      // background: $text1;
      min-height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .popup-close {
   }
}
// popup end
#popup-type-of-rest__list .simplebar-track.simplebar-vertical {
   background: #c4c4c4;
}
#popup-type-of-rest__list .simplebar-scrollbar:before {
   background: #005a8f;
}
.popup-type-of-rest {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100%;
   height: 100vh;
}
.popup-type-of-rest__body {
   background: rgba(34, 43, 69, 0.2);
   width: 100%;
   height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
}
.popup-type-of-rest .popup-close {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 18px;
}
.popup-type-of-rest__content {
   height: calc(100% - 80px);
   position: relative;
   background: #fff;
   border-radius: 10px;
   max-width: 1115px;
   width: 100%;
   margin: 40px 30px;
   padding: 95px 10px 70px 60px;
}
@media (max-width: 991.98px) {
   .popup-type-of-rest__content {
      padding-left: 40px;
   }
}
@media (max-width: 575.98px) {
   .popup-type-of-rest__content {
      margin: 40px 20px;
      padding: 50px 10px 25px 15px;
   }
}
.popup-type-of-rest__wrapper {
   height: 100%;
   overflow-y: auto;
   padding-right: 32px;
}
@media (max-width: 575.98px) {
   .popup-type-of-rest__wrapper {
      padding-right: 5px;
   }
}
.popup-type-of-rest__block {
   width: 100%;
   overflow: hidden;
}
.popup-type-of-rest__block:not(:last-child) {
   margin-bottom: 25px;
}
.popup-type-of-rest__block--calm-rest .popup-type-of-rest__column:nth-child(1) {
   width: 24%;
}
.popup-type-of-rest__block--calm-rest .popup-type-of-rest__column:nth-child(2) {
   width: 18%;
}
.popup-type-of-rest__block--calm-rest .popup-type-of-rest__column:nth-child(3) {
   width: 15%;
}
.popup-type-of-rest__block--calm-rest .popup-type-of-rest__column:nth-child(4) {
   width: 43%;
}
.popup-type-of-rest__block--extreme-vacation .popup-type-of-rest__column:nth-child(1) {
   width: 24%;
}
.popup-type-of-rest__block--extreme-vacation .popup-type-of-rest__column:nth-child(2) {
   width: 23%;
}
.popup-type-of-rest__block--extreme-vacation .popup-type-of-rest__column:nth-child(3) {
   width: 25%;
}
.popup-type-of-rest__block--extreme-vacation .popup-type-of-rest__column:nth-child(4) {
   width: 28%;
}
.popup-type-of-rest__block--professional-sports .popup-type-of-rest__list {
   max-height: 180px;
}
.popup-type-of-rest__title {
   margin-bottom: 10px;
   font-size: 18px;
   font-weight: bold;
}
@media (max-width: 575.98px) {
   .popup-type-of-rest__title {
      margin-bottom: 10px;
   }
}
.popup-type-of-rest__descr {
   margin-bottom: 20px;
   font-size: 18px;
   font-weight: 600;
   max-width: 818px;
}
@media (max-width: 575.98px) {
   .popup-type-of-rest__descr {
      margin-bottom: 5px;
   }
}
.popup-type-of-rest__list {
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
@media (max-width: 991.98px) {
   .popup-type-of-rest__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }
}
@media (max-width: 991.98px) {
   .popup-type-of-rest__column {
      width: 100% !important;
   }
}
.popup-type-of-rest__list-item {
   font-weight: 400;
   line-height: 1.5;
   padding: 5px 20px;
   position: relative;
}
.popup-type-of-rest__list-item::before {
   content: "";
   position: absolute;
   left: 0;
   top: 14px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #006fd6;
}
@media (max-width: 575.98px) {
   .popup-type-of-rest__list-item {
      padding: 5px 0 5px 15px;
      font-size: 14px;
   }
   .popup-type-of-rest__list-item::before {
      top: 13px;
   }
}

.popup-write-to-us {
   .popup-close.icon {
      font-size: 10px;
      padding: 5px;
      position: absolute;
      top: 15px;
      right: 16px;
      color: $gray;
   }
   .popup__content {
      position: relative;
      padding: 55px 15px 25px;
      align-self: flex-end;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 11.98%, #ffffff 100%);
   }
   .case-social {
      &__item {
         padding: 7px 20px;
         background: rgba(228, 232, 242, 0.4);
         border: 1px solid #8f9bb3;
         border-radius: 20px;
         &:not(:last-child) {
            margin-bottom: 15px;
         }
      }

      &__label {
         width: 22px;
         height: 22px;
      }

      &__name {
      }
   }
}

.popup-sms {
   // display: block;
   .popup__body {
      background: rgba(34, 43, 69, 0.2);
   }
   .popup-close {
      position: absolute;
      top: 26px;
      right: 29px;
      padding: 6px;
      font-size: 12px;
   }
   .popup__content {
      margin: 25px;
      padding: 50px 80px;
      width: 100%;
      max-width: 650px;
      background: $white;
      box-shadow: 0px 10px 10px rgba(34, 43, 69, 0.1);
      border-radius: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      @media (max-width: 575.98px) {
         padding: 50px 30px;
      }
   }
   &__title {
      color: $blue;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 5px;
      @media (max-width: 575.98px) {
         font-size: 18px;
         font-weight: bold;
      }
   }

   &__num {
      color: $blue;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px;
      @media (max-width: 575.98px) {
         font-size: 18px;
         font-weight: bold;
      }
   }

   &__input {
      margin: 0 0 20px;
      width: 1000%;
      max-width: 320px;
   }

   &__not {
      margin-bottom: 40px;
   }

   &__not-question {
      margin-bottom: 5px;
   }

   &__not-answer {
   }

   &__not-answer-again {
      color: $blue;
      text-decoration-line: underline;
   }

   &__btn {
      max-width: 230px;
   }
}

.popup-phone {
   // display: block;
   .popup__body {
      background: rgba(34, 43, 69, 0.2);
   }
   .popup-close {
      font-size: 12px;
      padding: 6px;
      position: absolute;
      top: 14px;
      right: 12px;
      @media (min-width: 768px) {
         display: none;
      }
   }
   .popup__content {
      width: 100%;
      position: relative;
      max-width: 667px;
      background: #ffffff;
      box-shadow: 0px 10px 10px rgba(34, 43, 69, 0.1);
      border-radius: 20px;
      padding: 43px 27px 60px;
      margin: 25px 40px;
      background: $white url("../images/map.png") top center no-repeat;
      background-size: calc(100% - 60px);
      @media (max-width: 575.98px) {
         padding: 50px 27px;
      }
   }

   &__title {
      text-align: center;
      margin-bottom: 35px;
      @media (max-width: 575.98px) {
         margin-bottom: 20px;
      }
   }

   &__form {
      max-width: 314px;
      margin: 0 auto;
   }

   &__inputs {
      margin-bottom: 30px;
      @media (max-width: 575.98px) {
         margin-bottom: 40px;
      }
   }

   &__input {
      margin: 0;
      &:not(:last-child) {
         margin-bottom: 15px;
         @media (max-width: 575.98px) {
            margin-bottom: 20px;
         }
      }
   }

   &__btn-send {
      padding: 15px;
      width: 100%;
      padding: 9px 20px;
      background: #222b45;
      border: 1px solid #2e3a59;
      color: $white;
      font-size: 16px;
      font-weight: bold;
      border-radius: 20px;
      @media (max-width: 575.98px) {
         padding: 15px;
      }
   }
}

.popup-message {
   position: fixed;
   bottom: 20px;
   right: 20px;
   max-width: 345px;
   width: 100%;
   overflow: hidden;
   max-height: 510px;
   height: 100%;
   z-index: 80;
   top: unset;
   left: unset;
   overflow: hidden;
   box-shadow: 0px 10px 10px rgba(106, 103, 103, 0.1);
   @media (max-width: 575.98px) {
      max-width: unset;
      width: 100vw;
      height: 100vh;
      max-height: unset;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
   }
   &__content {
      overflow: hidden;
      background: #ffffff;
      box-shadow: 0px 10px 10px rgba(106, 103, 103, 0.1);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      @media (max-width: 575.98px) {
         border-radius: unset;
      }
   }
   &__head {
      background: $mainColor;
      padding: 14px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;
      font-size: 18px;
      font-weight: bold;
      column-gap: 15px;
      flex: none;
      @media (max-width: 575.98px) {
         padding: 19px 16px;
      }
      .popup-close {
         font-size: 14px;
         padding: 7px;
         color: $white;
      }
   }

   &__title {
   }

   &__body {
      padding: 13px 16px;
      flex: 1 1 auto;
      overflow-y: auto;
   }

   &__message {
      display: flex;
      column-gap: 10px;
      padding-right: 20px;
      &:not(:last-child) {
         margin-bottom: 18px;
      }
   }
   &__message--out {
      width: max-content;
      margin-left: auto;
      padding-right: unset;
      padding-left: 20px;
      .popup-message__message-text {
         background: #c5cee0;
         border-radius: 10px 10px 0px 10px;
      }
   }

   &__message-photo {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      overflow: hidden;
      flex: none;
   }

   &__message-block {
   }

   &__message-name {
      font-size: 12px;
      font-weight: 600;
      margin-bottom: 7px;
      color: $gray;
   }

   &__message-text {
      background: #edf1f7;
      border-radius: 0px 10px 10px 10px;
      padding: 10px;
      font-size: 12px;
      max-width: 217px;
      @media (max-width: 575.98px) {
         font-size: 14px;
      }
   }

   &__footer {
      flex: none;
      padding: 24px 15px;
   }
}
