@import "variables";

@font-face {
  font-family: "#{$icomoon-font-family}";
  src: url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?3m9jec") format("truetype"),
    url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.woff?3m9jec") format("woff"),
    url("../fonts/icon/#{$icomoon-font-path}/#{$icomoon-font-family}.svg?3m9jec##{$icomoon-font-family}") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "#{$icomoon-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thermometer-plus {
  &:before {
    content: $icon-thermometer-plus;
    color: #74798a;
  }
}
.icon-thermometer-minus {
  &:before {
    content: $icon-thermometer-minus;
    color: #74798a;
  }
}
.icon-mark-blank {
  &:before {
    content: $icon-mark-blank;
  }
}
.icon-eye-blank {
  &:before {
    content: $icon-eye-blank;
  }
}
.icon-timer {
  &:before {
    content: $icon-timer;
  }
}
.icon-trash-2 {
  &:before {
    content: $icon-trash-2;
  }
}
.icon-edit-2 {
  &:before {
    content: $icon-edit-2;
  }
}
.icon-edit {
  &:before {
    content: $icon-edit;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-triangle-right {
  &:before {
    content: $icon-triangle-right;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-check-small {
  &:before {
    content: $icon-check-small;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-burger {
  &:before {
    content: $icon-burger;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-email {
  &:before {
    content: $icon-email;
  }
}
.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-mark {
  &:before {
    content: $icon-mark;
  }
}
.icon-message {
  &:before {
    content: $icon-message;
  }
}
.icon-message-blank {
  &:before {
    content: $icon-message-blank;
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-phone-reverse {
  &:before {
    content: $icon-phone-reverse;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-triangle-down {
  &:before {
    content: $icon-triangle-down;
  }
}
