$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-info: "\e913";
$icon-check-small: "\e912";
$icon-arrow-right: "\e900";
$icon-burger: "\e901";
$icon-calendar: "\e902";
$icon-check: "\e903";
$icon-close: "\e904";
$icon-email: "\e905";
$icon-eye: "\e906";
$icon-heart: "\e907";
$icon-mark: "\e908";
$icon-message: "\e909";
$icon-message-blank: "\e90a";
$icon-minus-circle: "\e90b";
$icon-phone: "\e90c";
$icon-phone-reverse: "\e90d";
$icon-plus: "\e90e";
$icon-plus-circle: "\e90f";
$icon-search: "\e910";
$icon-triangle-down: "\e911";

